body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/033/366/original/new_cross.jpg?1651573581);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-wrap: normal;
  height: fit-contents;
}

h1 {
  text-align: center;
  color: blueviolet;
  font-size: 50px;
}

h4 {
  font-style: italic;
}
p {
  padding: 20px;
  border-radius: 4px;
  font-size: 25px;
  line-height: 1.5;
  text-align: center;
}

.location {
  font-size: medium;
  color: brown;
}
.schedule {
  font-size: 20px;
  color: purple;
  font-style: italic;
}
.image1 {
  display: block;
  margin: 0 auto;
  padding-bottom: 40px;
}
.image2 {
  display: block;
  margin: 0 auto;
  padding-bottom: 40px;
  border: 10px solid yellow;
  box-shadow: 20px 20px 5px #000;
  background-color: violet;
}
.confession {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: green;
}
.promises {
  text-align: center;
  font-size: 20px;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
}
.contact {
  text-align: center;
}
